html,
body {
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.2;
  color: black;
  margin: 0;
  padding: 0.2em 0.5em;
}
h1, h2, h3 {
  margin-top: 0;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

#wrapper {
  padding: 0;
  float: left;
  width: 80%;
  padding-right: 0.2em;
}

#story {
  display: none;
}

#title {}

#main {
  float: left;
  width: 80%;
  padding-right: 0.2em;
}

#interactionHost {
  position: absolute;
  margin: 0;
  border-bottom: none;
  background: white;
  border: 1px solid black;
}
#interactionHost .active {
  background-color: yellow;
}
#interactionHost ul,
#inventoryHost ul {
  margin: 0;
  padding: 0;
}
#interactionHost li,
#inventoryHost li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#inventoryHost li {}
#inventoryHost {}
#inventoryHostWrapper {}
#inventoryHostWrapper h2 {}

#footer ul {
  list-style: none;
}
#undoStageHost {
  display: none;
}
